<article>
  <aside class="l_box">
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="/static/img/4.jpg"></i>
          <p><b>饶文然</b>，一个90后草根程序员！16年入行。一直潜心研究web后端技术，一边工作一边积累经验，分享一些个人博客模板，以及程序技巧和程序员生活等心得。</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
        {{range $index, $elem := .albums}}
            <li><a href="/"><img src="{{$elem.Cover}}"></a></li>
        {{end}}
        </ul>
      </div>
      <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          <li><a href="/">学无止境（{{ .ArticleTagsCount.study}}）</a></li>
          <li><a href="/">日记（{{ .ArticleTagsCount.journal}}）</a></li>
          <li><a href="/">慢生活（{{ .ArticleTagsCount.life}}）</a></li>
          <li><a href="/">美文欣赏（{{ .ArticleTagsCount.bellesLettres}}）</a></li>
        </ul>
      </div>
      <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
        {{range $index, $elem := .ArticleRecommend}}
            <li><a href="/">{{$elem.Title}}</a></li>
        {{end}}
        </ul>
      </div>
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="http://www.yangqq.com">杨青个人博客</a> <a href="http://www.yangqq.com">杨青博客</a>
        </ul>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="/static/img/wx.png">
        </ul>
      </div>
  </aside>
  <main class="r_box">
  {{range $index, $elem := .articles}}
      <li><i><a href="/info?id={{$elem.Id}}"><img src="{{$elem.BannerUrl}}"></a></i>
          <h3><a href="/info?id={{$elem.Id}}">{{$elem.Title}}</a></h3>
          <p>{{$elem.Content}}</p>
      </li>
  {{end}}

  </main>
</article>
