<!DOCTYPE html>
<html lang="en">
<head>
    <title>饶文然_简介</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="/static/resume/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="/static/resume/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <link rel="stylesheet" href="/static/resume/css/owl.carousel.css" type="text/css" media="all">
    <link href="/static/resume/css/owl.theme.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/resume/css/cm-overlay.css" />
    <!-- font-awesome icons -->
    <link href="/static/resume/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <!--	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
	-->
    <!-- //font -->
    <script src="/static/resume/js/jquery-1.11.1.min.js"></script>
    <script src="/static/resume/js/bootstrap.js"></script>
    <!-- menu -->
    <link rel="stylesheet" href="/static/resume/css/main.css">
    <script type="text/javascript" src="/static/resume/js/main.js"></script>
    <!-- //menu -->
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay:true,
                items : 3,
                itemsDesktop : [640,5],
                itemsDesktopSmall : [414,4]

            });

        });
    </script>
</head>
<body>
<!-- banner -->
<div class="banner" id="home">
    <!-- menu -->
    <div id="toggle_m_nav">
        <div id="m_nav_menu" class="m_nav">
            <div class="m_nav_ham" id="m_ham_1"></div>
            <div class="m_nav_ham" id="m_ham_2"></div>
            <div class="m_nav_ham" id="m_ham_3"></div>
        </div>
    </div>

    <div id="m_nav_container" class="m_nav">
        <ul id="m_nav_list" class="m_nav">
            <li class="m_nav_item" id="m_nav_item_1"> <a href="#home">简介</a> </li>
            <li class="m_nav_item" id="moble_nav_item_2"> <a href="#about">关于</a> </li>
            <li class="m_nav_item" id="moble_nav_item_3"> <a href="#statistics">统计</a> </li>
            <li class="m_nav_item" id="moble_nav_item_4"> <a href="#experience">经验</a> </li>
            <li class="m_nav_item" id="moble_nav_item_5"> <a href="#projects">项目</a> </li>
            <li class="m_nav_item" id="moble_nav_item_6"> <a href="#contact">联系</a> </li>
        </ul>
    </div>
    <!-- menu -->
    <div class="container">
        <div class="agile-logo">
            <h1><a href="index.html">天文<span>个人博客</span></a></h1>
        </div>
        <div class="w3l-banner-grids">
            <div class="col-md-8 w3ls-banner-right">
                <div class="banner-right-img">
                    <img src="/static/resume/images/me.jpg" alt="" />
                </div>
                <div class="banner-right-info">
                    <h2>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</h2>
                    <p>疯狂的程序员决不是靠狂妄和拼命的程序员，而是能够脚踏实地，持续努力的程序员，一个程序员真正做到这两点，技术上去后，唯一能限制他的只有想象力，到那个时候才算“疯狂的程序员”，这种程序员，才能令对手无比恐惧。</p>
                </div>
                <div class="clearfix"> </div>
                <div class="w3-button">
                    <div class="w3-button-info m_nav_item">
                        <a class="hvr-sweep-to-bottom" href="#contact">联系我</a>
                    </div>
                </div>
                <div class="social-grids">
                    <div class="social-info">
                        <h4>Follow : </h4>
                    </div>
                    <div class="agileinfo-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-banner-left">
                <div class="w3ls-banner-left-info">
                    <h4>职位名称</h4>
                    <p>web后端开发工程师</p>
                </div>
                <div class="w3ls-banner-left-info">
                    <h4>名字</h4>
                    <p>饶文然</p>
                </div>
                <div class="w3ls-banner-left-info">
                    <h4>性别</h4>
                    <p>男</p>
                </div>
                <div class="w3ls-banner-left-info">
                    <h4>地址</h4>
                    <p>广州市白云区嘉禾望岗</p>
                </div>
                <div class="w3ls-banner-left-info">
                    <h4>联系号码</h4>
                    <p><a href="mailto:example@email.com">18814374724</a></p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
<!-- about -->
<div class="about" id="about">
    <div class="container">
        <div class="wthree-about-grids">
            <div class="col-md-6 wthree-about-left">
                <h3>关于我</h3>
                <h4>本人热爱程序，热爱工作</h4>
                <p>  <span>本人勤奋踏实，工作认真负责，自学能力强;性格开朗，容易与人相处，注重团队协作精神，且能承受较大压力。

注重专业基础学习和实践能力的培养，在校期间不仅做过多个课程设计暑假期间也去过单位实践过，对golang编程和网站开发具有浓厚的兴趣。</span> </p>
            </div >
            <div class="col-md-6 wthree-about-right">
                <h3>技能</h3>
                <div class="skills-bar">
                    <section class='bar'>
                        <section class='wrap'>
                            <div class='wrap_right'>
                                <div class='bar_group'>
                                    <div class='bar_group__bar thin' label='Golang' show_values='true' tooltip='true' value='400'></div>
                                    <div class='bar_group__bar thin' label='PHP' show_values='true' tooltip='true' value='688'></div>
                                    <div class='bar_group__bar thin' label='Linux' show_values='true' tooltip='true' value='350'></div>
                                    <div class='bar_group__bar thin' label='Nginx' show_values='true' tooltip='true' value='456'></div>
                                    <div class='bar_group__bar thin' label='Vue' show_values='true' tooltip='true' value='245'></div>
                                </div>
                            </div>
                            <div class='clear'></div>
                        </section>
                    </section>
                </div>
            </div >
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.bar_label_min').html('');
    });
</script>
<!-- //about -->
<!-- statistics -->
<div class="jarallax statistics" id="statistics">
    <div class="container">
        <div class="w3-agileits-statistics-heading">
            <h3>我的统计</h3>
        </div>
        <div class="agile-statistics-grids">
            <div class="col-sm-4 agile-statistics-grid">
                <h4>14</h4>
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <p>项目</p>
            </div>
            <div class="col-sm-4 agile-statistics-grid statistics-grid2">
                <h4>2048</h4>
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>客户</p>
            </div>
            <div class="col-sm-4 agile-statistics-grid">
                <h4>1</h4>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <p>奖品</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <script src="/static/resume/js/jarallax.js"></script>
        <script src="/static/resume/js/SmoothScroll.min.js"></script>
        <script type="text/javascript">
            /* init Jarallax */
            $('.jarallax').jarallax({
                speed: 0.5,
                imgWidth: 1366,
                imgHeight: 768
            })
        </script>
    </div>
</div>
<!-- //statistics -->
<!-- experience -->
<div class="experience" id="experience">
    <div class="container">
        <div class="w3-agileits-statistics-heading experience-heading">
            <h3>工作经验</h3>
        </div>
        <div class="w3-agile-experience-grids">
            <div class="experience-top-grids">
                <div class="col-md-6 experience-grid">
                    <div class="experience-grid-icon icon-left hvr-radial-out">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </div>
                    <div class="experience-grid-info">
                        <h5>闪耀绘</h5>
                        <p>闪耀绘是一家以跨境电商为主的互联网公司，公司主要业务将国内的特色产品出售到海外，通过共享经济方式，以及包括线上线下结合，实体与互联网结合，微信与个人的结合</p>
                    </div>
                </div>
                <div class="col-md-6 experience-grid experience-grid1">
                    <div class="experience-grid-icon icon-left hvr-radial-out">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="experience-grid-info">
                        <h5>魔坛系统</h5>
                        <p>魔坛系统主要是帮助论坛站长打造APP的一个平台，论坛主通过在魔坛系统输入资料，就可以一键打造自己论坛的APP，同时拥有，强大的后台管理，会员管理，评论管理，权限设置等</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="experience-top-grids">
                <div class="col-md-6 experience-grid experience-grid2">
                    <div class="experience-grid-icon icon-left hvr-radial-out">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>
                    <div class="experience-grid-info">
                        <h5>爱窝绘</h5>
                        <p>本项目是为佛山新明珠集团开发的，爱窝绘主要是已卖家具为主的互联网商城网站</p>
                    </div>
                </div>
                <div class="col-md-6 experience-grid experience-grid3">
                    <div class="experience-grid-icon icon-left hvr-radial-out">
                        <i class="fa fa-asterisk" aria-hidden="true"></i>
                    </div>
                    <div class="experience-grid-info">
                        <h5>金马同行系统</h5>
                        <p>金马同行系统主要是开发给其他旅游公司的预订金马旅游的产品的项目，项目包括优美的前台页面，强大后台管理</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //experience -->
<!-- feedback -->
<div class="jarallax feedback">
    <div class="container">
        <div class="w3-agileits-statistics-heading">
            <h3>朋友留言</h3>
        </div>
        <div class="agileits-feedback-grids">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="feedback-info">
                        <div class="feedback-top">
                            <p> 优秀的代码是它自己最好的文档。当你考虑要添加一个注释时，问问自己，“如何能改进这段代码，以让它不需要注释？” </p>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="/static/resume/images/f1.jpg" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>*新</h5>
                                <p>前公司领导</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feedback-info">
                        <div class="feedback-top">
                            <p> UNIX很简单。但需要有一定天赋的人才能理解这种简单。</p>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="/static/resume/images/f2.jpg" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>**素</h5>
                                <p>前公司同事</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feedback-info">
                        <div class="feedback-top">
                            <p> 优秀的判断力来自经验，但经验来自于错误的判断。</p>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="/static/resume/images/f3.jpg" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>**超</h5>
                                <p>前公司同事</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feedback-info">
                        <div class="feedback-top">
                            <p> 当你想在你的代码中找到一个错误时，这很难；当你认为你的代码是不会有错误时，这就更难了。 </p>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="/static/resume/images/f4.jpg" alt="" />
                            </div>
                            <div class="feedback-img-info">
                                <h5>**标</h5>
                                <p>前公司同事</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            /* init Jarallax */
            $('.jarallax').jarallax({
                speed: 0.5,
                imgWidth: 1366,
                imgHeight: 768
            })
        </script>

    </div>
</div>
<!-- //feedback -->
<!-- projects -->
<div class="projects" id="projects">
    <div class="container">
        <div class="w3-agileits-statistics-heading experience-heading">
            <h3>我的项目</h3>
        </div>
    </div>
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p1.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p1.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p2.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p2.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p3.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p3.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p4.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p4.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p5.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p5.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p6.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p6.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p7.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p7.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="/static/resume/images/p8.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/resume/images/p8.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/resume/js/jquery.tools.min.js"></script>
    <script src="/static/resume/js/jquery.mobile.custom.min.js"></script>
    <script src="/static/resume/js/jquery.cm-overlay.js"></script>
    <script>
        $(document).ready(function(){
            $('.cm-overlay').cmOverlay();
        });
    </script>

</div>
<!-- //projects -->
<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="w3-agileits-statistics-heading experience-heading">
            <h3>联系我</h3>
        </div>
        <div class="contact-form">
            <a class="cm-overlay" href="/static/img/wx.png">
                <figure class="imghvr-shutter-in-out-diag-2"><img src="/static/img/wx.png" alt=" " class="img-responsive" style="margin: 0 auto;" />
                </figure>
            </a>
        </div>
    </div>
</div>
<!-- //contact -->
<!-- copyright -->
<div class="agileits-w3layouts-footer">
    <div class="container">
        <p>免责声明：本站部分内容来源于互联网。如果本站部分内容侵犯您的权益，请您告知，站长会立即处理</p>
        <p>© 2019-2019 tianwen.online 版权所有 ICP证： <a href="http://www.beian.miit.gov.cn/" target="_blank" title="天文博客">粤ICP备19096131号</a></p>
    </div>
</div>
<!-- //copyright -->
<script src="/static/resume/js/bars.js"></script>
<script src="/static/resume/js/owl.carousel.js"></script>
</body>
</html>
